// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

.delivery-date__value {
  color: $warning-color;
}

.order-table {
  p {
    margin-bottom: 0;
  }
  th {
    th {
      padding-bottom: 5px;
    }
  }
  > tbody {
    > tr {
      > th {
        padding-bottom: 0;
      }
    }
  }
}

.bcp-e-header {
  padding-top: 15px;
}

.bcp-e-header__contacts {
  th {
    padding-bottom: 0;
  }
}

.social-menu {
  th {
    text-align: right;
  }
  img {
    display: inline;
  }
  a {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.alert-color {
  color: $alert-color;
  &:visited {
    color: $alert-color
  }
}

.order-totlal {
  th {
    padding-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
}

.promotion-name {
  font-size: 16px;
}

.article-name {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  Margin-top: 10px;
}

.order-totlal-label,
.order-totlal-value {
  font-weight: bold;
  font-size: 20px;
}

.user-orders__table-header {
  p {
    margin-bottom: 0px;
    Margin-bottom: 0px;
  }
}

.user-orders__table-row {
  border-bottom: 1px solid grey;
  th {
    padding-bottom: 0;
  }
  .line-value-table__price-wr {
    padding-bottom: 55px;
  }
  > tbody {
    > tr {
      > th {
        padding-bottom: 10px;
      }
    }
  }
  p {
    margin-bottom: 0px;
    Margin-bottom: 0px;
  }
}

.user-orders__img-wr {
  th {
    padding-right: 10px;
  }
}

.line-value-table__link-wr {
  a {
    font-size: 11px;
  }
}

.user-qty-table {
  table-layout: fixed;
}

.grand-totlal {
  p {
    font-size: 20px;
  }
}

.price {
  color: $success-color;
}

.compare-link-wr,
.wish-list-link-wr {
  width: 20px;
  padding-left: 5px;
}

.like_product-name {
  height: 36px;
}
