---
subject: Order Confirmation Email
---

<container>
  <spacer size="30"></spacer>
  <row class="bcp-e-header">
    <columns small="20" large="15">
      <a href=""><img src="assets/img/logo.png" alt="F"></a>
    </columns>
    <columns small="60" large="45">
      <row class="bcp-e-header__contacts">
        <columns small="30" large="30">
          <p>Email: <a href="mailto:info@bcpsoftware.com">info@bcpsoftware.com</a></p>
          <p>Phone: <a href="tel:123-456-7890">123-456-7890</a></p>
        </columns>
        <columns small="30" large="30">
          <menu>
            <item href="#" class="text-right">My Account</item>
            <item href="#" class="text-right">BCPSoftware.com</item>
          </menu>
        </columns>
      </row>
      <hr>
    </columns>
  </row>

  <row>
    <columns small="60" large="45" class="large-offset-15">
      <row>
        <columns small="30">
          <h4>Order Confirmation</h4>
          <p>Order Number: <a href="">000000000000000000</a></p>
        </columns>
        <columns small="30" class="social-menu">
          <a href=""><img src="assets/img/fb.jpg" width="30" height="30" alt="Fb"></a>
          <a href=""><img src="assets/img/gp.jpg" width="30" height="30" alt="G+"></a>
          <a href=""><img src="assets/img/in.jpg" width="30" height="30" alt="In"></a>
          <a href=""><img src="assets/img/tw.jpg" width="30" height="30" alt="Tw"></a>
          <a href=""><img src="assets/img/yt.jpg" width="30" height="30" alt="Yt"></a>
        </columns>
      </row>
    </columns>
  </row>
  <row>
    <columns small="60">
      <h5>Hi, Username</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi impedit sapiente delectus molestias quia.</p>
    </columns>
  </row>
  <row>
    <columns small="60" large="60">
      <h4>Order Summary</h4>
      <hr>
    </columns>
  </row>
  <row class="order-table">
    <columns small="60" large="30">
      <row>
        <columns small="30">
          <p>Order Created</p>
        </columns>
        <columns small="30">
          <p class="text-right">1/1/16</p>
        </columns>
      </row>
      <row>
        <columns small="30">
          <p>Order Reference</p>
        </columns>
        <columns small="30">
          <p class="text-right">0000000000000</p>
        </columns>
      </row>
    </columns>
    <columns small="60" large="30">
      <row>
        <columns small="30">
          <p>Delivery Date</p>
        </columns>
        <columns small="30">
          <p class="text-right delivery-date__value">10/03/16</p>
        </columns>
      </row>
      <row>
        <columns small="30">
          <p>Delivery Address</p>
        </columns>
        <columns small="30">
          <p class="text-right">Address Line</p>
          <p class="text-right">Address Line</p>
          <p class="text-right">Address Line</p>
          <p class="text-right">Address Line</p>
        </columns>
      </row>
    </columns>
  </row>
  <row>
    <columns small="60" large="30">
      <row class="order-totlal">
        <columns small="30">
          <p class="order-totlal-label">Order Total</p>
        </columns>
        <columns small="30">
          <p class="text-right order-totlal-value">$2998.21</p>
        </columns>
      </row>
    </columns>
    <columns small="60" large="30"></columns>
  </row>
  <row>
    <columns small="60">
      <hr>
    </columns>
  </row>
  <row>
    <columns small="60" large="45">
      <row>
        <columns small="60" large="60">
          <h4>Your Order</h4>
          <hr>
        </columns>
      </row>
      <row class="user-orders__table-header">
        <columns small="34">
          <p><strong>Item</strong></p>
        </columns>
        <columns small="8">
          <p class="text-center"><strong>Price</strong></p>
        </columns>
        <columns small="8">
          <p class="text-center"><strong>Qty</strong></p>
        </columns>
        <columns small="10">
          <p class="text-right"><strong>Line Value</strong></p>
        </columns>
      </row>
      <hr>
      <row class="user-orders__table-row">
        <columns small="34">
          <row>
            <columns small="20" class="user-orders__img-wr">
              <a href=""><img src="http://dummyimage.com/100x90/4d494d/686a82.gif&text=placeholder+image" alt=""></a>
            </columns>
            <columns small="40">
              <h6>PRODUCT TITLE PRODUCT TITLE PRODUCT TITLE</h6>
              <table>
                <tr>
                  <th><strong>Code</strong></th>
                  <th>1234567</th>
                </tr>
                <tr>
                  <th><strong>Pack</strong></th>
                  <th>6x2kg</th>
                </tr>
                <tr>
                  <th><strong>Line Message</strong></th>
                  <th>This is a line message</th>
                </tr>
              </table>
            </columns>
          </row>
        </columns>
        <columns small="8">
          <p class="text-center">£ 10.34</p>
        </columns>
        <columns small="8">
          <table class="user-qty-table">
            <tr>
              <th>
                <p class="text-center">20</p>
              </th>
              <th>
                <p class="text-center">Cases</p>
              </th>
            </tr>
          </table>
        </columns>
        <columns small="10">
          <table class="line-value-table">
            <tr>
              <th class="line-value-table__price-wr">
                <p class="text-right">£ 103.40</p>
              </th>
            </tr>
            <tr>
              <th class="line-value-table__link-wr">
                <p class="text-right">
                  <a href="">LEAVE A REVIEW</a>
                </p>
              </th>
            </tr>
          </table>
        </columns>
      </row>
      <spacer size="7"></spacer>
      <row class="user-orders__table-row">
        <columns small="34">
          <row>
            <columns small="20" class="user-orders__img-wr">
              <a href=""><img src="http://dummyimage.com/100x90/4d494d/686a82.gif&text=placeholder+image" alt=""></a>
            </columns>
            <columns small="40">
              <h6>PRODUCT TITLE</h6>
              <table>
                <tr>
                  <th><strong>Code</strong></th>
                  <th>1234567</th>
                </tr>
                <tr>
                  <th><strong>Pack</strong></th>
                  <th>6x2kg</th>
                </tr>
                <tr>
                  <th><strong>Line Message</strong></th>
                  <th>This is a line message</th>
                </tr>
              </table>
            </columns>
          </row>
        </columns>
        <columns small="8">
          <p class="text-center">£ 10.34</p>
        </columns>
        <columns small="8">
          <table class="user-qty-table">
            <tr>
              <th>
                <p class="text-center">20</p>
              </th>
              <th>
                <p class="text-center">Cases</p>
              </th>
            </tr>
          </table>
        </columns>
        <columns small="10">
          <table class="line-value-table">
            <tr>
              <th class="line-value-table__price-wr">
                <p class="text-right">£ 103.40</p>
              </th>
            </tr>
            <tr>
              <th class="line-value-table__link-wr">
                <p class="text-right">
                  <a href="">LEAVE A REVIEW</a>
                </p>
              </th>
            </tr>
          </table>
        </columns>
      </row>
      <spacer size="7"></spacer>
      <row class="user-orders__table-row">
        <columns small="34">
          <row>
            <columns small="20" class="user-orders__img-wr">
              <a href=""><img src="http://dummyimage.com/100x90/4d494d/686a82.gif&text=placeholder+image" alt=""></a>
            </columns>
            <columns small="40">
              <h6>PRODUCT TITLE</h6>
              <table>
                <tr>
                  <th><strong>Code</strong></th>
                  <th>1234567</th>
                </tr>
                <tr>
                  <th><strong>Pack</strong></th>
                  <th>6x2kg</th>
                </tr>
                <tr>
                  <th><strong>Line Message</strong></th>
                  <th>This is a line message</th>
                </tr>
              </table>
            </columns>
          </row>
        </columns>
        <columns small="8">
          <p class="text-center">£ 10.34</p>
        </columns>
        <columns small="8">
          <table class="user-qty-table">
            <tr>
              <th>
                <p class="text-center">20</p>
              </th>
              <th>
                <p class="text-center">Cases</p>
              </th>
            </tr>
          </table>
        </columns>
        <columns small="10">
          <table class="line-value-table">
            <tr>
              <th class="line-value-table__price-wr">
                <p class="text-right">£ 103.40</p>
              </th>
            </tr>
            <tr>
              <th class="line-value-table__link-wr">
                <p class="text-right">
                  <a href="">LEAVE A REVIEW</a>
                </p>
              </th>
            </tr>
          </table>
        </columns>
      </row>
      <spacer size="7"></spacer>
      <row class="user-orders__table-row">
        <columns small="34">
          <row>
            <columns small="20" class="user-orders__img-wr">
              <a href=""><img src="http://dummyimage.com/100x90/4d494d/686a82.gif&text=placeholder+image" alt=""></a>
            </columns>
            <columns small="40">
              <h6>PRODUCT TITLE</h6>
              <table>
                <tr>
                  <th><strong>Code</strong></th>
                  <th>1234567</th>
                </tr>
                <tr>
                  <th><strong>Pack</strong></th>
                  <th>6x2kg</th>
                </tr>
                <tr>
                  <th><strong>Line Message</strong></th>
                  <th>This is a line message</th>
                </tr>
              </table>
            </columns>
          </row>
        </columns>
        <columns small="8">
          <p class="text-center">£ 10.34</p>
        </columns>
        <columns small="8">
          <table class="user-qty-table">
            <tr>
              <th>
                <p class="text-center">20</p>
              </th>
              <th>
                <p class="text-center">Cases</p>
              </th>
            </tr>
          </table>
        </columns>
        <columns small="10">
          <table class="line-value-table">
            <tr>
              <th class="line-value-table__price-wr">
                <p class="text-right">£ 103.40</p>
              </th>
            </tr>
            <tr>
              <th class="line-value-table__link-wr">
                <p class="text-right">
                  <a href="">LEAVE A REVIEW</a>
                </p>
              </th>
            </tr>
          </table>
        </columns>
      </row>
      <spacer size="7"></spacer>
      <row class="user-orders__table-row">
        <columns small="34">
          <row>
            <columns small="20" class="user-orders__img-wr">
              <a href=""><img src="http://dummyimage.com/100x90/4d494d/686a82.gif&text=placeholder+image" alt=""></a>
            </columns>
            <columns small="40">
              <h6>PRODUCT TITLE</h6>
              <table>
                <tr>
                  <th><strong>Code</strong></th>
                  <th>1234567</th>
                </tr>
                <tr>
                  <th><strong>Pack</strong></th>
                  <th>6x2kg</th>
                </tr>
                <tr>
                  <th><strong>Line Message</strong></th>
                  <th>This is a line message</th>
                </tr>
              </table>
            </columns>
          </row>
        </columns>
        <columns small="8">
          <p class="text-center">£ 10.34</p>
        </columns>
        <columns small="8">
          <table class="user-qty-table">
            <tr>
              <th>
                <p class="text-center">20</p>
              </th>
              <th>
                <p class="text-center">Cases</p>
              </th>
            </tr>
          </table>
        </columns>
        <columns small="10">
          <table class="line-value-table">
            <tr>
              <th class="line-value-table__price-wr">
                <p class="text-right">£ 103.40</p>
              </th>
            </tr>
            <tr>
              <th class="line-value-table__link-wr">
                <p class="text-right">
                  <a href="">LEAVE A REVIEW</a>
                </p>
              </th>
            </tr>
          </table>
        </columns>
      </row>
      <spacer size="15"></spacer>
      <row class="summary">
        <columns small="60" large="60">
          <h4>Summary</h4>
        </columns>
      </row>
      <row class="summary-table">
        <columns small="60" large="60">
          <table>
            <tr>
              <th>
                <p>
                  <strong>Subtotal</strong>
                </p>
              </th>
              <th>
                <p class="text-right">£ 3000.21</p>
              </th>
            </tr>
            <tr>
              <th>
                <p>
                  <strong>Split Case Surcharge</strong>
                </p>
              </th>
              <th>
                <p class="text-right">£ 3.21</p>
              </th>
            </tr>
            <tr>
              <th colspan="2">
                <p>
                  <strong>Promotional Savings</strong><br>
                </p>
              </th>
            </tr>
            <tr>
              <th>
                <table>
                  <tr>
                    <th>
                      &#8226;
                    </th>
                    <th>
                      <p>
                        Buy 2 for £3 on selected <br>
                        soft drinks
                      </p>
                    </th>
                  </tr>
                </table>
              </th>
              <th>
                <p class="text-right alert-color">-£ 2.00</p>
              </th>
            </tr>
            <tr>
              <th>
                <p>
                  <strong>Total Savings</strong>
                </p>
              </th>
              <th>
                <p class="text-right alert-color">-£ 2.00</p>
              </th>
            </tr>
            <tr>
              <th>
                <p>
                  <strong>VAT</strong>
                </p>
              </th>
              <th>
                <p class="text-right">£ 20.01</p>
              </th>
            </tr>

            <tr class="grand-totlal">
              <th>
                <p>
                  <strong>Grand Total</strong>
                </p>
              </th>
              <th>
                <p class="text-right"><strong>£ 2998.21</strong></p>
              </th>
            </tr>

          </table>
        </columns>
      </row>
    </columns>
    <columns small="60" large="15" class="sidebar">
      <row>
        <columns small="60">
          <h5 class="alert-color">Popular Promotions</h5>
          <callout class="bcp-e__popular-promotions">
            <p>
              <a href="" class="alert-color promotion-name">Promotion Name</a>
              <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <p>
              <a href="" class="alert-color promotion-name">Promotion Name</a>
              <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim magnam dolor nobis omnis doloribus excepturi.
            </p>
            <p>
              <a href="" class="alert-color promotion-name">Promotion Name</a>
              <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim magnam dolor nobis omnis doloribus excepturi.
            </p>
            <p>
              <a href="" class="alert-color promotion-name">Promotion Name</a>
              <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </callout>
        </columns>
      </row>
      <row>
        <columns small="60">
          <h5>Latest Articles</h5>
          <row>
            <columns small="30" large="60">
              <a href="">
                <img src="http://dummyimage.com/320x125/4d494d/686a82.gif&text=placeholder+image" alt="">
              </a>
              <p class="small-text-left article-name">Article Name</p>
            </columns>
          </row>
          <row>
            <columns small="30" large="60">
              <a href="">
                <img src="http://dummyimage.com/320x125/4d494d/686a82.gif&text=placeholder+image" alt="">
              </a>
              <p class="small-text-left article-name">Article Name</p>
            </columns>
          </row>
          <row>
            <columns small="30" large="60">
              <a href="">
                <img src="http://dummyimage.com/320x125/4d494d/686a82.gif&text=placeholder+image" alt="">
              </a>
              <p class="small-text-left article-name">Article Name</p>
            </columns>
          </row>
        </columns>
      </row>
    </columns>
  </row>
  <row>
    <columns small="60">
      <h4>You may also like...</h4>
    </columns>
  </row>

  <row>
    <columns small="18" large="9" class="like-product">
      <row>
        <columns small="60">
          <a href=""><img src="http://dummyimage.com/170x160/4d494d/686a82.gif&text=placeholder+image" alt=""></a>
        </columns>
      </row>
      <p class="like_product-name">Product Name Product Name Product Name</p>
      <p>6x24</p>
      <table class="rating-table">
        <tr>
          <td><a href=""><img src="assets/img/rating-3.png" alt=""></a></td>
          <td class="compare-link-wr"><a href=""><img src="assets/img/compare.png" alt=""></a></td>
          <td class="wish-list-link-wr"><a href=""><img src="assets/img/wish-list.png" alt=""></a></td>
        </tr>
      </table>
      <spacer size="7"></spacer>
      <p class="price">£Price</p>
    </columns>
    <columns small="18" large="9" class="like-product large-offset-1">
      <row>
        <columns small="60">
          <a href=""><img src="http://dummyimage.com/170x160/4d494d/686a82.gif&text=placeholder+image" alt=""></a>
        </columns>
      </row>
      <p class="like_product-name">Product Name</p>
      <p>6x24</p>
      <table class="rating-table">
        <tr>
          <td><a href=""><img src="assets/img/rating-0.png" alt=""></a></td>
          <td class="compare-link-wr"><a href=""><img src="assets/img/compare.png" alt=""></a></td>
          <td class="wish-list-link-wr"><a href=""><img src="assets/img/wish-list.png"alt=""></a></td>
        </tr>
      </table>
      <spacer size="7"></spacer>
      <p class="price">£Price</p>
    </columns>
    <columns small="18" large="9" class="like-product large-offset-1">
      <row>
        <columns small="60">
          <a href=""><img src="http://dummyimage.com/170x160/4d494d/686a82.gif&text=placeholder+image" alt=""></a>
        </columns>
      </row>
      <p class="like_product-name">Product Name</p>
      <p>6x24</p>
      <table class="rating-table">
        <tr>
          <td><a href=""><img src="assets/img/rating-2.png" alt=""></a></td>
          <td class="compare-link-wr"><a href=""><img src="assets/img/compare.png" alt=""></a></td>
          <td class="wish-list-link-wr"><a href=""><img src="assets/img/wish-list.png" alt=""></a></td>
        </tr>
      </table>
      <spacer size="7"></spacer>
      <p class="price">£Price</p>
    </columns>
    <columns small="18" large="9" class="like-product large-offset-1">
      <row>
        <columns small="60">
          <a href=""><img src="http://dummyimage.com/170x160/4d494d/686a82.gif&text=placeholder+image" alt=""></a>
        </columns>
      </row>
      <p class="like_product-name">Product Name</p>
      <p>6x24</p>
      <table class="rating-table">
        <tr>
          <td><a href=""><img src="assets/img/rating-5.png" alt=""></a></td>
          <td class="compare-link-wr"><a href=""><img src="assets/img/compare.png" alt=""></a></td>
          <td class="wish-list-link-wr"><a href=""><img src="assets/img/wish-list.png" alt=""></a></td>
        </tr>
      </table>
      <spacer size="7"></spacer>
      <p class="price">£Price</p>
    </columns>
    <columns small="18" large="9" class="like-product large-offset-1">
      <row>
        <columns small="60">
          <a href=""><img src="http://dummyimage.com/170x160/4d494d/686a82.gif&text=placeholder+image" alt=""></a>
        </columns>
      </row>
      <p class="like_product-name">Product Name</p>
      <p>6x24</p>
      <table class="rating-table">
        <tr>
          <td><a href=""><img src="assets/img/rating-1.png" alt=""></a></td>
          <td class="compare-link-wr"><a href=""><img src="assets/img/compare.png" alt=""></a></td>
          <td class="wish-list-link-wr"><a href=""><img src="assets/img/wish-list.png" alt=""></a></td>
        </tr>
      </table>
      <spacer size="7"></spacer>
      <p class="price">£Price</p>
    </columns>
  </row>
  <spacer size="35"></spacer>
  <row class="footer">
    <columns small="60">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores sapiente ipsum nobis. Eos molestiae facere commodi. Accusantium numquam quibusdam ad iusto et repellendus voluptates, delectus quas obcaecati expedita, cumque.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores sapiente ipsum nobis. Eos molestiae facere commodi. Accusantium numquam quibusdam ad iusto et repellendus voluptates, delectus quas obcaecati expedita, cumque.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores sapiente ipsum nobis. Eos molestiae facere commodi. Accusantium numquam quibusdam ad iusto et repellendus voluptates, delectus quas obcaecati expedita, cumque.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores sapiente ipsum nobis. Eos molestiae facere commodi. Accusantium numquam quibusdam ad iusto et repellendus voluptates, delectus quas obcaecati expedita, cumque.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores sapiente ipsum nobis. Eos molestiae facere commodi. Accusantium numquam quibusdam ad iusto et repellendus voluptates, delectus quas obcaecati expedita, cumque.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores sapiente ipsum nobis. Eos molestiae facere commodi. Accusantium numquam quibusdam ad iusto et repellendus voluptates, delectus quas obcaecati expedita, cumque.</p>
    </columns>
  </row>
</container>
